body {
    min-width: auto;
    max-width: 750px;
    padding: 8px;
    border: 1px;
    border-style: solid;
    border-color: black;
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.picture-frame {
    padding: 8px
}