.grayScaleBtn{
    margin-right: 10px;
    background-color: gray;
    padding: 5px 15px;
    border-radius: 15px;
    border: solid 2px transparent;
    color: #fff;
}


.grayScaleBtn.active-class{
    border: solid 2px darkgray;
    background-color: #fff;
    color: darkgray;
}


.fetchBtn{
    background-color: rgb(183, 112, 249);
    padding: 10px;
    border-radius: 2px;
    color: #fff;
    border: solid 2px transparent;
}

.fetchBtn:hover{
    background-color: rgb(160, 64, 250);

}

.fetchBtn:active {
    color: rgb(160, 64, 250);
    border: solid 2px rgb(160, 64, 250);
    background-color: #fff;
}

.loadBtn{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0px auto 0px;
    background-color: rgb(183, 112, 249);
    color: #fff;
    font-size: larger;
    border-radius: 5px;
    border: solid 2px transparent;
}

.loadBtn:hover{
    background-color: rgb(160, 64, 250);

}

.loadBtn:active{
    color: rgb(160, 64, 250);
    border: solid 2px rgb(160, 64, 250);
    background-color: #fff;
}
