.body-section {
  max-width: 750px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 16px;
  column-gap: 16px;
}
.card > img {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  object-fit: fill;
  padding: 0%;
}
.card {
  position: relative;
  max-width: 800px;
  margin: 0;
}
.card .card-text {
  object-fit: contain;
  position: absolute;
  bottom: 4px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
}
.card-text > p {
  margin-left: 20px;
  
  
}
.card-text > a {
  color: #f1f1f1;
  margin-left: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: small;
}
.grayscale {
  filter: grayscale(1);
}
