.photo-item {
    position: relative;
    margin: 0;
    width: 100%;
    padding-bottom: 80%;
    overflow: hidden;
}
.image {
    position: absolute;
    width: 750px;
    height: 750px;
    object-fit: cover;
}
.figcaption {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffffdd;
    line-height: 1.4;
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: #ffffffa0;
    font-size: small;
}