.loadBtn{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0px auto 0px;
    background-color: rgb(183, 112, 249);
    color: #fff;
    font-size: larger;
    border-radius: 5px;
    border: solid 2px transparent;
}

.loadBtn:hover{
    background-color: rgb(160, 64, 250);

}

.loadBtn:active{
    color: rgb(160, 64, 250);
    border: solid 2px rgb(160, 64, 250);
    background-color: #fff;
}
