img{
    width: 100%;
    background-color: rgb(196, 194, 194);
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

figure{
    width: calc(50% - 16px);
    position: relative;
}

figcaption{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 15px;
    font-size: small;
}

.favoriteBtn{
    display: none;
}

figure:hover .favoriteBtn{
    display: inline-block;
    position:absolute;
    top: 10px;
    left: 10px;
    padding: 2px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: #fff;
    border: 0px solid #000;
    background-color: rgba(rgba(57, 55, 55, 0.501), green, blue, alpha);
    font-size: large;
}
