.image-container {
  aspect-ratio: 4/3;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.image-info {
  position: absolute;
  top: 200px;
  bottom: 0px;
  left:0px;
  right: 0px;
  background-color: rgb(0,0,0,0.55);
  transition: background-color 0.2s ease;
  text-decoration: none;
}
.image-container:hover .image-info {
  background-color: rgb(0,0,0,0.63);
}
.image-container:active .image-info {
  background-color: rgb(0, 0, 0, 0.7);
}
.image-info h2 {
  color: #dad7d7;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin-left: 15px;
  margin-top: 15px;
}

.image-info p {
  color: #b0aeae;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 200;
  font-size: 14px;
  margin-top: 3px;
  margin-left: 15px;
}
.image-greyscale {
  filter: grayscale(100%);
}