.grid-item {
    position: relative;
  }
  
  .grid-item img {
    width: 120%;
    height: auto;
  }
  
  .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-sizing: border-box;
    height: 70px;
  }
  
  .text h3,
  .text h4 {
    margin: 0;
    color: #fff;
  }
  
  .text h3 {
    font-size: 20px;
  }
  
  .text h4 {
    font-size: 16px;
  }
  